.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
  gap: 1rem;
}

input, select {
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 1rem;
	transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	border-radius: 1rem;
	margin-right: 1rem;
	font-weight: bold;
	color: #333;
	font-size: 1.6rem;
  text-align: center;
}

input::placeholder {
	font-weight: 700;
  color: #333;
  opacity: .6;
}

input:focus, select:focus, input:hover, select:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

select, option {
  cursor: pointer;
}

.buttonWrapper {
  margin-inline: auto;
  margin-top: 1rem;
}

button[type="submit"] {
	all: unset;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

button[type="submit"] img {
	object-fit: cover;
	width: 100%;
	filter: contrast(50%);
	transition: scale 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button[type="submit"] img:hover {
	scale: 1.2;
}
