.bg {
	min-height: 100vh;
	max-width: 100vw;
	background-color: rgba(0, 0, 0, 0.24);
	padding: 5rem 2rem;
  position: relative;
  overflow-x: hidden;
}

.title {
	text-align: center;
	font-size: 3rem;
	color: transparent;
	margin-bottom: 1rem;
  background-image: linear-gradient(to top, rgb(170, 170, 170), rgb(255 255 255), rgb(180, 180, 180));
  background-clip: text;
  background-blend-mode: text;
}

@media  (min-width: 768px){
  .title {
    margin-top: 5rem;
  }
}

.notFound {
  margin-top: 2rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound p {
  font-weight: bold;
  font-size: 3rem;
}